<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <mata charset="UTF-8" />-->
<!--    <title>〇〇カフェ</title>-->
<!--    <link rel="stylesheet" href="style.css">-->
  
     <!--Compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->

     <!--Compiled and minified JavaScript -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->
    
    <!--<script-->
    <!--src="https://code.jquery.com/jquery-3.4.1.js"-->
    <!--integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="-->
    <!--crossorigin="anonymous"></script>-->
    <!--<script src="cafe.js"></script>-->
  
    <!-- アイコンをダウンロードするための追記 -->
    <!--Import Google Icon Font-->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  
     <!--Compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">-->
  
    <!-- Compiled and minified JavaScript -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>-->
            
  <!--</head>-->
  
  <body>
    <div class="wrap">
      <section class="main_img"></section>
      
      <a name="concept">
      <section class="concept">
          <h2 class="concept-heading">コンセプト</h2>
          <p class="concept-text">
            ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
          </p>
      </section>
      </a>
      
      <a name="menu">
      <section class="menu">
          <div class="menu-box1">
              <h2 class="menu-heading">メニュー</h2>
              <p class="menu-text">
              ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
              </p>
              <p class="detail">
                <a href="/assets/cafe-menu.jpg" class="button ghost-btn">詳細</a>
              </p>
          </div>
      
          <div class="menu-box2">
            <i class="menu-image" alt="ケーキ"><%= image_tag '/assets/cake.jpg' %></i>
            <i class="menu-image" alt="ハンバーガー"><%= image_tag '/assets/humburger.jpg' %></i>
            <i class="menu-image" alt="プレート"><%= image_tag '/assets/cafe-plate.jpg' %></i>
            <i class="menu-image" alt="コーヒー"><%= image_tag '/assets/coffee.jpg' %></i>
            <i class="menu-image" alt="パン"><%= image_tag '/assets/bread.jpg' %></i>
          </div>
      </section>
      </a>
      
      <a name="schedule">
      <section class="schedule">
        <h2 class="shedule-heading">スケジュール</h2>
          <div class="tab-menu">
            <ul>
              <li id="left" class="selected">9月</li>
              <li id="right">10月</li>
            </ul>
          
            <div class="contents">
              <div class="left">
                <i class="schedule-image" alt="9月のスケジュール"><%= image_tag '/assets/sep.PNG' %></i>
              </div>
              <div class="right">
                <i class="schedule-image" alt="9月のスケジュール"><%= image_tag '/assets/oct.PNG' %></i>
              </div>
            </div>
          </div>
        </div>
      </section>
      </a>
      
      <a name="about">
      <section class="about">
        <div class="about-box1">
            <h2 class="about-heading">店舗情報</h2>
            <p class="about-text">
            〒xxx-xxxx<br>
            埼玉県川口市前川1-2-3<br>
            電話番号012-345-6789<br>
            </p>
        </div>
    
        <div class="about-box2">
          <div class="gmap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1175.924439138077!2d139.71916989923656!3d35.83813651846056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601894ee3df0331d%3A0xb000d27f0d46cef8!2z44K344Kn44Ki55WRIOW3neWPow!5e0!3m2!1sen!2sjp!4v1557834537183!5m2!1sen!2sjp" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </section>
      </a>
      
      <section class="share">
        <h2 class="share-heading">Share</h2>
          <div class="share-wrapper">
            <div class="icon">
              <i class="share-image" alt="Facebook"><%= fa_icon("facebook 5x") %></i>
            </div>
            <div class="icon">
              <i class="share-image" alt="Instagram"><%= fa_icon("instagram 5x") %></i>
            </div>
          </div>
      </section>
      
      <section class="footer">
        <p>C 2019 we-b inc.</p>
      </section>
    </div>
  </body>
    
<!--</html>-->